<html>
<head>
	<title></title>
</head>
<body>
<h1>Recientes</h1>

<table class="table table-striped">
 <tr>
    <th>Title</th>
    <th class="hidden-phone">Description</th>
    <th>Topic</th>
    
    
  </tr>
<% @recientes.each do |n| %>
  <tr>
    <td><%= n.title %></td> 
	<td class="hidden-phone"> <%= n.description %></td> 
	<td><%= n.topic %></td>
	 
<% end %>
  </tr>
 </table>

</body>
</html>